<<<<<<< HEAD
.Navbar{
    background-color: 52, 106, 134;
}
.blanco{
    color: #ffffff;
}
.negro{
    color: greenyellow;
=======
.card {
    border: none;
    display: flex;
    align-items: center;
}

.card-img-top {
    
    width: 80%;
    height: 15vw;
    object-fit: cover;
>>>>>>> c883c28af4da5ccf50e8fc2552caddd3c4d66ee6
}