.Menu{
    background-color: #346A86;
}
.blanco{
    color: #ffffff;
}
.negro{
    color: greenyellow;
}
.card {
    border: none;
    display: flex;
    align-items: center;
}

.card-img-top {

    width: 80%;
    height: 15vw;
    object-fit: cover;
}
.botonesnav{
    margin-right: 20px;
    margin-left: 20px;
}
.Titulo-documentación{
    color: #346A86 ;
    margin-bottom: 20px;
}
.documentacion{
    margin-top: 20px;
}
.logo{
    height: 75px;
    width: 75px;
}

.Titulo-documentación {
    color: #346A86;
}

.card-text{
    text-align: justify;
    text-align-last: center;
}

.footer {
    background-color: #064A70;
    color: #ffffff;
    padding: 20px;
}

.col-logo img {
    max-width: 200px;
}

.btn-footer {
    background-color: #064A70;
    text-align: left;
    color: #ffffff;
}