.Menu{
    background-color: #346A86;
}
.blanco{
    color: #ffffff;
}
.negro{
    color: greenyellow;
}
.card {
    border: none;
    display: flex;
    align-items: center;
}

.card-img-top {

    width: 80%;
    height: 15vw;
    object-fit: cover;
}
.botonesnav{
    margin-right: 20px;
    margin-left: 20px;
}
.Titulo-documentación{
    color: #346A86 ;
}